body {
    background: #fefefe;
    color: #333;
}

.header {
    color: #114880;
}

.navigation__link {
    color: #1A936F;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
}

.header {
    margin-bottom: 15px;
}

.about {
}

.about__link {
    color: #1A936F;
    font-weight: bold;
}

.about__header {
    color: #1460aa;
}

.about__paragraph {
    font-size: 20px;
}

.about__paragraph--color {
    color: #ff6700;
    font-size: 16px;
}

.about__picture {
    height: 100%;
    max-height: 100px;
    display: block;
    float: left;
    margin: 0 16px 16px 0;
}

.box {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    box-sizing: border-box;
    border: 10px solid red;
    margin: 10px;
    top: 0;
}

.routine__heading2 {
    color: #114880;
}

.routine__heading3 {
    color: #1146aa;
}

.footer {
    font-style: italic;
}

.nagore {
    position: fixed;
    right: 10px;
    bottom: 10px;
}