body {
    background: #fefefe;
}

.header {
    color: #020122;
}

.aboutme {
    background: #fefefe;
    width: 700px;
}

.headingSecond {
    color: #F4442E;
    font-size: 20px;
}

.headingThird {
    color: #FC9E4F;
    font-size: 16 px;
}

.link {
    color: #020122;
    font-size: 16 px;
}

.paragraph {
    color: darkred;
}

.footer {
    font-style: italic;
}

.paragraph {
    color: darkblue;
}

.photo {
    text-align: center;
}